/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back: #232323;
  --back-light: #111111;
  --primary-color: #23263a;
  --text-color: #ffffff;
  --button-color: #d5a941;
  --font-title: "Italiana", serif;
  --font-text: "Roboto", sans-serif;
  --line-menu: #43371a;
}

body {
  background-color: var(--back);
  color: white;
}

.full-width {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.debug {
  border: 1px solid red;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

p,
button,
label {
  font-family: var(--font-text);
  font-size: 16px;
}

.btn {
  padding: 12px 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
/* Header */
header {
  position: fixed;
  background-color: var(--back-light);
  z-index: 999;
}
.header {
  height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 50%;
  filter: brightness(100);
}

.logo img:hover {
  filter: none;
}

.navbar {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s ease;
}
nav {
  height: 100%;
  width: 100%;
}

ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 10px 0;
}

li {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--line-menu);
}

li:first-child {
  border-left: none;
  padding-left: 0px;
}

li:last-child {
  border-right: none;
}

.navbar ul li a {
  font-family: var(--font-title);
  transition: all 0.5s ease;
  font-size: 16px;
  letter-spacing: 1px;
}

.navbar ul li a:hover {
  color: var(--button-color);
}

.burger {
  height: 60px;
  width: 60px;
  position: fixed;
  right: 15px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 9999;
}

.burger-line-container {
  height: 40px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.burger-line {
  height: 1px;
  width: 80%;
  background-color: var(--button-color);
  position: relative;
  transition: all 1s ease;
}

.burger.active .burger-line-container .burger-line:first-child {
  transform: rotate(135deg);
  top: 10px;
}
.burger.active .burger-line-container .burger-line:nth-child(2) {
  transform: rotate(200deg);
  opacity: 0;
}
.burger.active .burger-line-container .burger-line:last-child {
  transform: rotate(-135deg);
  top: -10px;
}

/* Carousel */
.carousel {
  height: 100vh;
  position: relative;
}

.carousel-arrow {
  height: 100%;
  width: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.carousel-arrow-left {
  left: 0;
}
.carousel-arrow-right {
  right: 0;
}

.arrow-container {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.arrow-container i {
  color: white;
  font-size: 20px;
}

.arrow-container:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
}

.controls-container {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 9;
}

.controls {
  height: 100%;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control {
  height: 5px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 5px;
}

.control.active {
  background-color: rgba(255, 255, 255, 1);
}
.quick-contact {
  height: 100vh;
  width: 40px;
  right: 15%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.quick-contact .line {
  width: 1px;
  background-color: white;
}

.quick-contact .line:first-child {
  height: 20%;
  margin: 0px 0px 10px 0px;
}
.quick-contact .line:nth-child(3) {
  height: 6%;
  margin: 10px 0px 10px 0px;
}
.quick-contact .line:nth-child(5) {
  height: 6%;
  margin: 10px 0px 10px 0px;
}

.quick-contact .line:last-child {
  height: 20%;
  margin: 10px 0px 0px 0px;
}

.quick-contact i {
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.quick-contact i:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.slide .image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.5) grayscale(100000);
  transition: all 2s ease;
  left: 0;
}

.slide .image .philter {
  height: 100%;
  width: 100%;
  background-color: var(--back-light);
  position: absolute;
  top: 0;
  opacity: 0.8;
  mix-blend-mode: darken;
}

.slide:hover .image img {
  filter: brightness(0.7);
  width: 101%;
  left: -0.5%;
}

.slide .text {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slide .text .text-container {
  height: 100%;
  padding: 50px;
}

.slide .text .text-container .text-content {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.slide .text .text-container .text-content h2 {
  font-size: 80px;
  letter-spacing: 2px;
  color: white;
}

.slide .text .text-container .text-content p {
  line-height: 30px;
  letter-spacing: 2px;
  color: white;
  font-weight: 200;
  padding-bottom: 20px;
}

/* PC */
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
/* Tablet */
@media screen and (max-width: 950px) {
  body {
    background-color: green;
  }
  .navbar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: var(--back-light);
  }

  .navbar.active {
    left: 0;
  }

  .navbar nav ul {
    flex-direction: column;
    padding: 20px;
    position: absolute;
    height: 97vh;
    bottom: 0;
  }

  .navbar nav ul li {
    width: 100%;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid var(--line-menu);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar nav ul li:last-child {
    border-bottom: none;
  }

  .navbar nav ul li a {
    font-size: 25px;
  }

  .burger {
    display: flex;
  }
  .logo {
    width: 100%;
    justify-content: center;
    z-index: 999;
  }
  .logo a {
    width: 100%;
    justify-content: center;
    z-index: 999;
  }
}
/* Phone */
@media screen and (max-width: 710px) {
  body {
    background-color: blue;
  }
}
